/* Please â¤ this if you like it! */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: black;
  /* background-color: #1f2029; */
  overflow-x: hidden;
}
a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: "unicons";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #e3decf;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: red;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}
/* ContactPage css */

.video {
  min-width: 100%;
  max-height: 750px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.video img {
  min-width: 100%;
  min-height: 100%;
}
.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 80px;
  background-color: rgba(0, 32, 60, 0.44);
}
.video .overlay h2 {
  text-transform: uppercase;
  font-size: 35px;
}
.video .overlay p {
  color: #cccccc !important;
}
.video .overlay .social {
  margin-top: 40px;
}
.video .overlay .social i {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  line-height: 55px;
  font-size: 25px;
  transition: 0.5s ease;
  margin-right: 5px;
}
.video .overlay .social i:last-child {
  margin-right: 0;
}
.video .overlay .social i:hover {
  border-color: #0b8ffe;
  cursor: pointer;
  box-shadow: 0 0 20px #0b8ffe;
  transform: scale(1.2);
}
.video .overlay form {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video .overlay form input {
  height: 40px;
  background-color: transparent;
  padding: 5px 0px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  color: #fff;
}
.video .overlay form textarea {
  background-color: transparent;
  padding: 5px 0px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
  color: #fff;
}
.video .overlay form input:focus,
.video .overlay form textarea:focus {
  border-bottom-color: #0b8ffe;
  box-shadow: 0px 0px 20px rgba(11, 143, 254, 0.42);
}
.video .overlay form input::-webkit-input-placeholder,
.video .overlay form textarea::-webkit-input-placeholder {
  color: #e8e8e8;
  text-transform: capitalize;
}
.video .overlay form [name="name"],
.video .overlay form [name="email"],
.video .overlay form [name="phone"] {
  width: 31%;
}
.video .overlay form [name="website"],
.video .overlay form [name="subject"] {
  width: 48%;
  margin-bottom: 80px;
}
.video .overlay form button {
  background-color: transparent;
  padding: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  color: #fff;
  text-transform: uppercase;
  transition: 1s ease;
  overflow: hidden;
}
.video .overlay form button:hover {
  color: #0b8ffe;
  border-color: #0b8ffe;
  box-shadow: 0 0 20px #0b8ffe;
  cursor: pointer;
}
.video .overlay form button:hover div {
  /* transform: rotate(-422deg) scale(1.5, 1.5) translate(50%, 50px);*/
  transform: scale(2) translateX(200px);
  transition: 1s ease-in-out;
  color: transparent;
}
/* ----------- start media query for video & contact ----*/
@media only screen and (max-width: 575px) {
  .video .overlay {
    padding-top: 40px;
  }
  .video .overlay .social {
    margin-top: 30px;
  }
  .video .overlay .social i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  .video .overlay form {
    width: 90%;
    margin: 40px auto 0;
    flex-direction: column;
    align-items: center;
  }
  .video .overlay form input {
    width: 95% !important;
    margin-bottom: 15px !important;
  }
  .video .overlay form textarea {
    width: 95%;
    margin-top: 15px;
  }
  .video .overlay form button {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .video .overlay form {
    width: 90%;
    margin: 60px auto 0;
  }
  .video .overlay form [name="name"],
  .video .overlay form [name="email"] {
    width: 48%;
  }
  .video .overlay form [name="phone"],
  .video .overlay form [name="website"] {
    width: 48%;
    margin-bottom: 30px;
  }
  .video .overlay form [name="subject"] {
    width: 100%;
  }
}

/* shoppingPge css */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.featured__img {
  border: 1px solid red;
  border-radius: 10px;
}

.container {
  width: 85%;
  max-width: 65em;
}

.split {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.split > * {
  flex-basis: 30%;
  min-width: 15em;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.featured {
  background: #eee;
}
.featured__item {
  display: block;
  position: relative;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}
.featured__item:hover,
.featured__item:focus {
  transform: scale(1);
}
.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
  opacity: 1;
  text-shadow: 0 0 2em white;
}
.featured__item::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}
.featured__details {
  opacity: 0;
  transition: opacity 250ms linear;
}
.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(
    var(--clr-inner, limegreen),
    var(--clr-outer, purple)
  );
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}
.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}
.product__image {
  margin: -5em 0 0 0;
}

/* shopping css */
@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .bg-grey {
  background-color: #eae8e8;
  }
  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }